<div class="userdropdown" ng-init="addAccount(<%- userid %>)" ng-controller="AccountController">

<img class="onlinecircle"  ng-show="Accounts[<%- userid %>].online && Accounts[<%- userid %>].idle" src="/images/orangecirclesml.png"></img>
<img class="onlinecircle"  ng-show="Accounts[<%- userid %>].online && Accounts[<%- userid %>].idle"  src="/images/greencirclesml.png"></img>
<img class="onlinecircle"  ng-show="!Accounts[<%- userid %>].online" src="/images/greycirclesml.png"></img>
<img class="profilepic" src="{{Accounts[<%- userid %>].picture}}"></img>

  <%- include('dropdown', {userid:userid,Myid:Myid}); %>
    	
</div>



