 <% if (req.session.passport){ %>
	<% if (req.session.passport.user){ %>
  
      <button class="btn btn-success" ng-click="ShowOptions=!ShowOptions">Show Options</button>
      <table ng-hide="!ShowOptions">
         <tr>
            <td>
               <span class="label label-default">Chesspiece Theme</span>
               <select class="form-control"
                  ng-model="User.ChessPieceTheme"
                  name="string"
                  multiple="string"
                  required="string"
                  ng-required="string"
                  ng-change="PrefSelectChanged('ChessPieceTheme','<%-req.session.passport.user%>',resetBoard)"
                  >
                  <option ng-repeat="theme in piecethemes" value="{{theme}}">
                     {{theme}}
                  </option>
               </select>
            </td>
            
                 <td>
               <span class="label label-default">Board Theme</span>
               <select class="form-control"
                  ng-model="User.BoardTheme"
                  name="string"
                  multiple="string"
                  required="string"
                  ng-required="string"
                  ng-change="PrefSelectChanged('BoardTheme','<%-req.session.passport.user%>',colorBoard)"
                  >
                  <option ng-repeat="theme in boardthemes" value="{{theme}}">
                     {{theme}}
                  </option>
               </select>
            </td>
            
            <td>
               <button ng-click="PrefToggleButtonClicked('SoundEnabled','<%-req.session.passport.user%>','Sound Enabled','Sound Disabled')" class="btn btn-success">{{User.SoundEnabled}}</button>
            </td>
             <td>
               <span class="label label-default">Volume Level</span>
               <select class="form-control"
                  ng-model="User.SoundVolume"
                  name="string"
                  multiple="string"
                  required="string"
                  ng-required="string"
                  ng-change="PrefSelectChanged('SoundVolume','<%-req.session.passport.user%>',setVolume)"
                  >
                  <option ng-repeat="vol in soundvolumes" value="{{vol}}">
                     {{vol}}
                  </option>
               </select>
            </td>
            <td>
               <span class="label label-default">Board Size</span>
               <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="User.BoardSize"   ng-change="PrefSelectChanged('BoardSize','<%-req.session.passport.user%>', resizeBoard)"
                  >
                  <option ng-repeat="option in boardsizes" value="{{option.value}}">{{option.name}}</option>
               </select>
            </td>
               <td>
               <span class="label label-default">Board Orientation</span>
               <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="User.BoardOrientation"   ng-change="PrefSelectChanged('BoardOrientation','<%-req.session.passport.user%>', reorientBoard)"
                  >
                  <option ng-repeat="option in boardorientations" value="{{option.value}}">{{option.name}}</option>
               </select>
            </td>
         </tr>
      </table>
      <%}%>
      <%}%>