<div class ="userdropdown" href="/profile/{{<%-userid%>}}" ng-init="addAccount(<%- userid %>)" target="_blank" ng-controller="AccountController">
<b class="redtext">{{Accounts[<%- userid %>].FideTitle}}</b>
 {{Accounts[<%- userid %>].name}}
<%- include('dropdown', {userid:userid,Myid:Myid}); %>
</div>
