     
      <!-- Trigger the modal with a button -->

      <%- include partials/popup.ejs %>

      
        <% var Myid='0'%>
    <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<% Myid=req.session.passport.user;%>
			<% } %>
	<% } %>

    
 <%- include('partials/navbar',{userid:Myid,Myid:Myid}); %>
     <!-- <p>Game Id is   <%-req.param('GameID')%></p>-->
      <script> var GameID='<%- req.param('GameID') %>'</script>
      <% if (!req.session.passport){ %>
      <div ng-init="Guest()"></div>
      <% } %>
		<% if (req.session.passport){ %>
		<% if (req.session.passport.user){ %>
       	<div ng-init="SoleConnectorFunction('<%- req.session.passport.user %>')"></div>

			<div ng-init="joinImOnlineRoom()"></div>
			
   	
        
       <%}%>
       <%}%>
    

	<%- include partials/board.ejs %>
  

