
<html>
  <head>
     <%- include partials/title.ejs %>
     <%- include partials/description.ejs %> 
   <%- include partials/keywords.ejs %> 
     <!-- Viewport mobile tag for sensible mobile support -->
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/angular-toastr.css">
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/chessboard-0.3.0.css">
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/results.css">
        <!--STYLES END-->
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
        <script src="/js/dependencies/chess.min.js"></script>
        <script src="/js/dependencies/chessboard-0.3.0.js"></script>
        <script src="/js/dependencies/enginegame.js"></script>
        <script src="/js/dependencies/stockfish.js"></script>
        <script src="/js/dependencies/toastr.js"></script>
        <script src="/js/RenderElements.js"></script>
        <script src="/js/jqchessfunctions.js"></script>
        <script src="/js/jqscript.js"></script>
        <!--SCRIPTS END-->
    </head>
    
    <body ng-app="HomepageModule" ng-controller="PrivateconversationController" ngcloak>
    
    
			<% var Myid='0'%>
    <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<% Myid=req.session.passport.user;%>
			<% } %>
	<% } %>
    
 <%- include('partials/navbar',{userid:Myid,Myid:Myid}); %>

			  <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
			
			 <%- include('partials/chatmessagelist', {groupid: req.param('ID'),Myid:req.session.passport.user}); %>
			 <%- include('partials/postmessage',{groupid: req.param('ID'),Myid:Myid,msgtype:'Private Conversation',address:'/privateconversation'+req.param('ID')}); %>
		
			<%}%>
			<%}%>
			
	


    

    </body>
   </html>
