<!doctype html>
<html>
  <head>
       <%- include partials/title.ejs %>
        <%- include partials/description.ejs %> 
   <%- include partials/keywords.ejs %> 
      <!-- Viewport mobile tag for sensible mobile support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/angular-toastr.css">
      <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
      <link rel="stylesheet" href="/styles/chessboard-0.3.0.css">
      <link rel="stylesheet" href="/styles/general.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <link rel="stylesheet" href="/styles/results.css">
      <!--STYLES END-->
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/bootstrap.min.js"></script>
      <script src="/js/dependencies/chess.min.js"></script>
      <script src="/js/dependencies/chessboard-0.3.0.js"></script>
      <script src="/js/dependencies/enginegame.js"></script>
      <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
      <script src="/js/dependencies/stockfish.js"></script>
      <script src="/js/dependencies/toastr.js"></script>
      <script src="/js/RenderElements.js"></script>
      <script src="/js/jqchessfunctions.js"></script>
      <script src="/js/jqscript.js"></script>
      <!--SCRIPTS END-->
   </head>
     <body ng-app="HomepageModule" ng-controller="StatsController" ng-cloak>
 
     <% var Myid='0'%>
    <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<% Myid=req.session.passport.user;%>
			<% } %>
	<% } %>

    
 <%- include('partials/navbar',{userid:Myid,Myid:Myid}); %>
   
  <div  ng-show="User.Invisible" style="background-color:black;z-index:999;width:100%;height:100%;opacity:0.9;position:fixed;left:0;top:50;">
	</div>
   <h3>Statistics</h3>
		
		<% var lookedatuser; %>
	<% if (req.param('userID')){ %>
			<% lookedatuser=req.param('userID'); %>
		
		<% } %>
		
	  
	  <% if (req.session.passport){ %>
	  <% if (req.session.passport.user){ %>
			<% if (!req.param('userID')){ %>
			<% lookedatuser=  req.session.passport.user;%>
			<% } %>
			
	
			<div ng-init="joinImOnlineRoom()"></div>
			<div ng-init="getuser('<%-req.session.passport.user%>')"></div>
   	
      <% } %>
	<% } %>
	<div ng-init="getLookedatUser('<%-req.session.passport.user%>')"></div>
	     <div class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>Category</th>
                  <th>Color</th>
                  <th>Current Ratings</th>
                  <th>Win%</th>
                  <th>Loss%</th>
                  <th>Draws%</th>
                  <th>Highest ratings scored</th>
                  <th>Lowest ratings scored</th>
                  <th>Average Oppositon Ratings</th>
                  <th>Best Win</th>
                  <th>Lowest Loss</th>
                  
                  <th>Total Games</th>
                  <th>Total Moves</th>
                  <th>Average Move/Game</th>
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
            <tbody ng-repeat="x in categories">
	    
           <tr ng-repeat="c in colors">
          <div ng-show="(LookedatUser['totalgames'+c.col+x.time+"|"+x.extratime])">
            
          <td >   
               <h5>{{x.time}}|{{x.extratime}}</h5>
           </td>
           <td>   
               <h5>{{c.col}}</h5>
           </td>
           <td ng-repeat="s in statcategories">   
                 <h5 >{{LookedatUser[s.cat+c.col+x.time+"|"+x.extratime]}}</h5>
				
			</td>
           </tr>
            </div>
           </tbody>
           </table>
           </div>
		

	
	</body>
</html>
